Package: com.joemerlino.videopanefix
Name: VideoPaneFix
Depends: mobilesubstrate, firmware (>= 9.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Fixes the VideoPane's floating window area.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
